plugin
ngrok
.zcompdump*
fonts/*.ttf

nvim/.github
lazygit
i3/keyring.deb
tmux/plugins
tmux/tmux
fonts/JetBrainsMono.zip
.env
.aider*
fonts/JetBrainsMono
fonts/JetBrainsMono
fonts/Agave.zip
fonts/JetBrainsMono.zip.1
