[Unit]
Description=Wallpaper service
[Service]
Type=idle
ExecStart=set -eu | export DISPLAY=:0 | /usr/bin/feh --bg-fill --randomize /home/renan/Pictures/wallpapers/*
[Install]
WantedBy=multi-user.target
