[Unit]
Description=Job that runs your user script

[Service]
ExecStart=$HOME/dotfiles/startup.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
